.cards{
    display: flex;
    background-color: white;
    justify-content: space-around;
}

.card img{
    width: 100px;
}
.section-two{
padding: 90px;
}
.section-two h3{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 35px;
    color: #314659;
}
.card h3{
    font-size: 24px;
    width: 250px;
    color: rgb(0 0 0 / 85%);
    margin-top: 20px;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.card p{
    width: 280px;
    color: #314659;
}
